#---------------------------------------------------------------------------------------------------
# Ignored file formats:

# Build products:
*.app
*.component
*.dll
*.exe
*.lib
*.so
*.clap

# Build intermediates (C++):
*.o
*.obj

# IDE generated:
*.exp
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.layout
*.log
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user

# Preview acceleration:
*.db
*.pk

#---------------------------------------------------------------------------------------------------
# Ignored folders:



#---------------------------------------------------------------------------------------------------
# Ignored files:


